.nav {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(255, 255, 255));
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    text-transform: uppercase;

    &__logo {
        height: 65px;
        transition: all .25s ease;
        &:hover {
            transform: translateY(-5px);
        }
    }

    &__list {
        display: flex;
        padding: 0;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    &__list-item {
        list-style-type: none;
    }

    &__link {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        padding: 1rem 2rem;
        color: #222222;
        transition: all .25s ease-out;
        &:hover {
            color: var(--gold);
        }
    }
}