/* line 1, ../sass/layout/_nav.scss */
.nav {
  text-align: center;
  width: 100%;
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: flex;
  text-transform: uppercase;
}
/* line 10, ../sass/layout/_nav.scss */
.nav__logo {
  height: 65px;
  transition: all 0.25s ease;
}
/* line 13, ../sass/layout/_nav.scss */
.nav__logo:hover {
  transform: translateY(-5px);
}
/* line 18, ../sass/layout/_nav.scss */
.nav__list {
  display: flex;
  padding: 0;
  justify-content: center;
  width: 100%;
  align-items: center;
}
/* line 26, ../sass/layout/_nav.scss */
.nav__list-item {
  list-style-type: none;
}
/* line 30, ../sass/layout/_nav.scss */
.nav__link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2rem;
  color: #222222;
  transition: all 0.25s ease-out;
}
/* line 37, ../sass/layout/_nav.scss */
.nav__link:hover {
  color: var(--gold);
}

/* line 1, ../sass/layout/_template.scss */
:root {
  --black: #000000;
  --navy: #14213d;
  --gold: #f2a22c;
  --pink: #e5e5e5;
  --white: #ffffff;
  --dark-gray: #333333;
  --light-gray: #cccccc;
}

/* line 11, ../sass/layout/_template.scss */
html {
  height: 100%;
}

/* line 15, ../sass/layout/_template.scss */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 23, ../sass/layout/_template.scss */
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

/* line 28, ../sass/layout/_template.scss */
p {
  margin: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: .07em;
  line-height: 1.7em;
  font-size: .875rem;
}

/* line 1, ../sass/layout/_hero.scss */
.hero {
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

/* line 1, ../sass/layout/_parallax.scss */
.parallax-first {
  background-image: url("https://images.unsplash.com/photo-1551504734-5ee1c4a1479b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  height: 500px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 10, ../sass/layout/_parallax.scss */
.parallax-second {
  background-image: url("https://images.unsplash.com/photo-1574085733277-851d9d856a3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 19, ../sass/layout/_parallax.scss */
.parallax-third {
  background-image: url("https://images.unsplash.com/photo-1513623935135-c896b59073c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, ../sass/layout/_service.scss */
.services {
  display: flex;
  margin-top: -168px;
}

/* line 6, ../sass/layout/_service.scss */
.service {
  margin: .5rem;
  width: calc(100% / 4);
  background-color: var(--pink);
  transition: transform .25s ease, box-shadow .25s ease;
}
/* line 11, ../sass/layout/_service.scss */
.service:hover {
  transform: translateY(-4px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
/* line 15, ../sass/layout/_service.scss */
.service__title {
  height: 80px;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 23, ../sass/layout/_service.scss */
.service__title-text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid #000;
  font-weight: 500;
}
/* line 32, ../sass/layout/_service.scss */
.service__info-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* line 38, ../sass/layout/_service.scss */
.service__info-text {
  padding: 1rem;
}

@media (max-width: 767px) {
  /* line 44, ../sass/layout/_service.scss */
  .services {
    flex-wrap: wrap;
  }

  /* line 47, ../sass/layout/_service.scss */
  .service {
    width: 100%;
  }
}
/* line 2, ../sass/layout/_home.scss */
.home__section {
  padding: 4rem;
  display: flex;
}
/* line 5, ../sass/layout/_home.scss */
.home__section--footer {
  background-color: var(--dark-gray);
  color: var(--white);
  justify-content: center;
}
/* line 12, ../sass/layout/_home.scss */
.home__section-container {
  margin: 1rem;
}
/* line 16, ../sass/layout/_home.scss */
.home__section-item {
  margin: 1rem;
}
/* line 20, ../sass/layout/_home.scss */
.home__grid {
  padding: 4rem;
}
/* line 24, ../sass/layout/_home.scss */
.home__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
/* line 32, ../sass/layout/_home.scss */
.home__grid-box, .home__grid-box--wide {
  height: 200px;
  background-size: cover;
  background-position: center;
}
/* line 39, ../sass/layout/_home.scss */
.home__grid-div2 {
  grid-area: 1 / 1 / 2 / 3;
  box-shadow: inset 0em 0em 0em 1em var(--light-gray);
}
/* line 44, ../sass/layout/_home.scss */
.home__grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}
/* line 47, ../sass/layout/_home.scss */
.home__grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}
/* line 50, ../sass/layout/_home.scss */
.home__grid-div5 {
  grid-area: 2 / 1 / 3 / 2;
}
/* line 53, ../sass/layout/_home.scss */
.home__grid-div6 {
  grid-area: 2 / 2 / 3 / 3;
}
/* line 56, ../sass/layout/_home.scss */
.home__grid-div7 {
  grid-area: 2 / 3 / 3 / 4;
}
/* line 59, ../sass/layout/_home.scss */
.home__grid-div8 {
  grid-area: 2 / 4 / 3 / 5;
}
/* line 63, ../sass/layout/_home.scss */
.home__grid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
}

/* line 76, ../sass/layout/_home.scss */
.overlay {
  background-color: #000000;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
/* line 82, ../sass/layout/_home.scss */
.overlay:hover {
  transform: translateY(-4px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
/* line 86, ../sass/layout/_home.scss */
.overlay--div3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1518619745898-93e765966dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=805&q=80);
}
/* line 90, ../sass/layout/_home.scss */
.overlay--div4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1576842546422-60562b9242ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1940&q=80);
}
/* line 94, ../sass/layout/_home.scss */
.overlay--div5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1555244162-803834f70033?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
/* line 98, ../sass/layout/_home.scss */
.overlay--div6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1546567075-d7113bee3c4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80);
}
/* line 102, ../sass/layout/_home.scss */
.overlay--div7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1425421598808-4a22ce59cc97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
/* line 106, ../sass/layout/_home.scss */
.overlay--div8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1536236397240-9b229a37a286?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

@media (max-width: 584px) {
  /* line 114, ../sass/layout/_home.scss */
  .home__section {
    padding: 1rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  /* line 123, ../sass/layout/_home.scss */
  .home__grid {
    padding: 1rem;
  }
  /* line 127, ../sass/layout/_home.scss */
  .home__grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  /* line 137, ../sass/layout/_home.scss */
  .home__grid-box, .home__grid-box--wide {
    margin: 0.5rem;
  }
}
/* line 2, ../sass/layout/_footer.scss */
.footer__top {
  display: flex;
  margin-bottom: 2rem;
}
/* line 7, ../sass/layout/_footer.scss */
.footer__column {
  margin: 2rem;
  width: calc(100% / 4);
  text-align: center;
}
/* line 11, ../sass/layout/_footer.scss */
.footer__column--links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 18, ../sass/layout/_footer.scss */
.footer__image {
  border-radius: 50%;
  height: 300px;
}
/* line 23, ../sass/layout/_footer.scss */
.footer__title {
  text-decoration: underline;
}
/* line 27, ../sass/layout/_footer.scss */
.footer__text {
  font-family: 'Lato', sans-serif;
}
/* line 31, ../sass/layout/_footer.scss */
.footer__contact {
  margin-top: 1rem;
}
/* line 35, ../sass/layout/_footer.scss */
.footer__email {
  color: var(--gold);
  font-family: 'Lato', sans-serif;
  transition: all .25s ease-out;
}
/* line 39, ../sass/layout/_footer.scss */
.footer__email:hover {
  color: var(--light-gray);
}
/* line 48, ../sass/layout/_footer.scss */
.footer__links-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
/* line 55, ../sass/layout/_footer.scss */
.footer__link-item {
  list-style-type: none;
  margin: 1rem 2rem;
}
/* line 60, ../sass/layout/_footer.scss */
.footer__link {
  text-decoration: none;
  color: var(--gold);
  font-family: 'Open Sans', sans-serif;
  transition: all .25s ease-out;
}
/* line 65, ../sass/layout/_footer.scss */
.footer__link:hover {
  color: var(--light-gray);
}
/* line 70, ../sass/layout/_footer.scss */
.footer__more-links {
  color: var(--gold);
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  line-height: 1.7;
  width: fit-content;
  transition: all .25s ease-out;
}
/* line 77, ../sass/layout/_footer.scss */
.footer__more-links:hover {
  color: var(--light-gray);
}
/* line 82, ../sass/layout/_footer.scss */
.footer__line {
  position: relative;
  flex: 1;
  align-self: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: auto;
  width: 80%;
}
/* line 91, ../sass/layout/_footer.scss */
.footer__copyright {
  display: flex;
  justify-content: center;
}
/* line 96, ../sass/layout/_footer.scss */
.footer__copyright-text {
  font-family: 'Open Sans', sans-serif;
}
/* line 100, ../sass/layout/_footer.scss */
.footer__copyright-link {
  text-decoration: none;
  color: var(--light-gray);
  font-family: 'Open Sans', sans-serif;
  transition: all .25s ease-out;
}
/* line 105, ../sass/layout/_footer.scss */
.footer__copyright-link:hover {
  color: var(--gold);
}
/* line 114, ../sass/layout/_footer.scss */
.footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
/* line 121, ../sass/layout/_footer.scss */
.footer__social-profile {
  list-style-type: none;
  margin: 1rem;
  transition: all .25s ease;
}
/* line 125, ../sass/layout/_footer.scss */
.footer__social-profile:hover {
  transform: translateY(-5px);
}
/* line 134, ../sass/layout/_footer.scss */
.footer__icon {
  height: 40px;
}

@media (max-width: 767px) {
  /* line 156, ../sass/layout/_footer.scss */
  .footer__top {
    flex-direction: column;
  }
  /* line 159, ../sass/layout/_footer.scss */
  .footer__column {
    width: 100%;
    margin: auto;
  }
  /* line 163, ../sass/layout/_footer.scss */
  .footer__links-list {
    flex-wrap: wrap;
  }

  /* line 167, ../sass/layout/_footer.scss */
  .map-responsive {
    display: none;
  }
}
/* line 1, ../sass/layout/_animation.scss */
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

/* line 6, ../sass/layout/_animation.scss */
.js-scroll.scrolled {
  opacity: 1;
}

/* line 10, ../sass/layout/_animation.scss */
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

/* line 14, ../sass/layout/_animation.scss */
.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
